// src/components/Skills/Skills.scss
@import '../../app/globals.scss';


.skills-section {
  h2 {
    margin-bottom: 1.5rem;
  }

  .skills-flow-container {
    // Change this from flex to multi-column
    column-count: 3;
    column-gap: 25px;
    column-fill: balance;

    @media (width < 768px) {
      column-count: 1;
    }
  }

  .skill-category-flow-item {
    // Styles for each category block
    padding: 8px 12px;
    border-radius: 6px;
    background-color: rgba($primary-blue-xtra-light, 0.3);
    margin-bottom: 15px;
    break-inside: avoid-column; // Tries to prevent an item from breaking across columns



    h3 {
      font-size: 1.05rem;
      font-weight: 600;
      color: $primary-blue-dark;
      margin: 0 0 10px 0;
      padding-bottom: 5px;
      border-bottom: 2px solid $primary-blue;
      display: inline-block;
    }

    .skills-list-flow {
      display: flex;
      flex-wrap: wrap;
      gap: 6px 8px;
    }
  }
}

// Global .skill-tag style remains important