// src/components/Languages/Languages.scss
@import '../../app/globals.scss';;

.languages-section {
    h2 {
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
            font-size: 1.2em;
            color: $primary-blue;
        }
    }

    .languages-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .language-item {
        // .card styling is global
        // Specific styling for language items if needed beyond .card
        display: flex;
        flex-direction: column; // Stack name and proficiency
        align-items: flex-start;

        .lang-name {
            font-size: 1.2rem;
            font-weight: 600;
            color: $primary-blue-dark;
            margin-bottom: 5px;
        }

        .lang-proficiency {
            font-size: 0.95rem;
            color: $text-color-medium;
            font-style: italic;
        }
    }
}